#contact {
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#contact nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact .icon {
  margin: 0px;
}

#form {
  padding: 48px;
  border-radius: 3px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  cursor: default;
}

#form > label {
  padding: 12px 0px;
  font-weight: bold;
}

#form > .input {
  font-family: inherit;
  padding: 12px;
  resize: none;
  border-radius: 3px;
  border: none;
  background-color: var(--light);
  margin-bottom: 12px;
  width: 500px;
}

#form > .input:focus {
  outline: var(--black) solid 1px;
}

#send-message {
  display: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  padding: 12px;
  margin-top: 32px;
}

#send-message:hover {
  background-color: var(--light);
}
