@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");

body {
  background-color: ghostwhite;
  font-family: "IBM Plex Mono", monospace;
}

#front-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.icon {
  margin: 24px; 
  color: grey;
}

.icon *:hover {
  color: black;
  cursor: pointer;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

#intro > * {
  margin: 12px;
}

#intro h1 {
  font-size: xx-large;
  font-weight: bold;
}

#intro p {
  font-size: large;
}

#contact form {
  display: none;
}

#contact button {
  margin: 0px;
}

#contact input {
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 12px;
}

#projects {
  height: 100vh;
}
