@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");

body {
  background-color: ghostwhite;
  font-family: "IBM Plex Mono", monospace;
}

.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}

p {
  font-size: large;
}
