@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");

body {
  background-color: ghostwhite;
  font-family: "IBM Plex Mono", monospace;
}

#links {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: ghostwhite;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
}

.icon {
  margin: 24px; 
  color: grey;
}

.icon *:hover {
  color: black;
  cursor: pointer;
}

#intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#intro > * {
  margin: 12px;
}

#intro h1 {
  font-size: xx-large;
  font-weight: bold;
}

#intro p {
  font-size: large;
}

#scroll-container {
  position: sticky;
  top: 0;
  bottom: 0;
}

#scroll-container button, #links a {
  -moz-transition: transform 0.25s;
  -webkit-transition: transform 0.25s;
  transition: transform 0.25s; 
}

.flip {
  transform: rotate(-180deg);
}

.trans-left {
  transform: translate(-24px, 0px);
}

.trans-right {
  transform: translate(24px, 0px);
}

#projects {
  height: 100vh;
}

#main {
}

#contact {
  position: fixed;
  top: 0;
}
